attr==0.3.2
ConfigParser==7.2.0
contextlib2==21.6.0
cryptography==45.0.7
docutils==0.22
filelock==3.19.1
Flask==3.1.2
flask_cors==6.0.1
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.7
Jinja2==3.1.6
jnius==1.1.0
keyring==25.6.0
mock==5.2.0
Pillow==11.3.0
protobuf==6.32.0
pyOpenSSL==25.1.0
railroad==0.5.0
redis==6.4.0
Sphinx==8.2.3
thread==2.0.5
tornado==6.5.2
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
git+https://github.com/mboecreator/aext-assistant.git@main#egg=aext-assistant